#basic_display {
float: left ;
  width: 50% ;
}

#historic_display{
float: right ;
  width: 50% ;
}

#last_temp{
display:inline;
}

#max_temp{
display:inline;
}

#avg_temp{
display:inline;
}

#min_temp{
display:inline;
}

#cur_temp{
display:inline;
}

#last_temp_ts{
display:inline;
}

#avg_temp_ts{
display:inline;
}

#max_temp_ts{
display:inline;
}

#min_temp_ts{
display:inline;
}

#last_hum_ts{
display:inline;
}

#max_hum_ts{
display:inline;
}

#min_hum_ts{
display:inline;
}

#avg_hum_ts{
display:inline;
}

#cur_time{
display:inline;
}

#cur_hum{
display:inline;
}

#last_hum{
display:inline;
}

#avg_hum{
display:inline;
}

#max_hum{
display:inline;
}

#min_hum{
display:inline;
}

#temp_unit{
display:inline;
}

#temp_unit1{
display:inline;
}

#temp_unit2{
display:inline;
}

#temp_unit3{
display:inline;
}

#temp_unit4{
display:inline;
}
